/* TEST */

.box1{
    height: 100px;
    width: 100%;
    background-color: dodgerblue;
}

.box2{
    height: 100px;
    width: 100%;
    background-color: orange;
}
/* UTILITYES */
/* COLORS */


.text-gray{
    color: #616f8c;
}
.hero h1{
    color: white;
}


.hero h3 span{
    color: #006aff;
}

/* -------------- */

.long-text{
    font-size:20px;
    color:#bbcdff;
}

.text-center{
    text-align: center;
}

.img-box{
    max-width:150px;
    height:auto;
    vertical-align: middle;
    text-align: center;
}

.text-right{
    vertical-align: middle;
}

.inline-list{
    display: inline-block;
    list-style: none;
    margin: 0 5px;
}

.inline-list a{
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.button{
    min-width: 70px;
    padding: 8px;
    border-radius:5px;
    display: inline-block;
    text-align: center;
 }
 
.big-button-blue{
    min-width: 100%;
    border: 1px solid transparent;
    background-color: #579aff;
    margin-top: 10px;
    color: #fff;
}

.big-button-white{
    min-width: 100%;
    border: 1px solid transparent;
    background-color:#fff;
    margin-top: 10px;
    color:#686868;
    box-shadow: 4px 3px 8px -3px;
    position:relative;
}

nav a:hover,
section.jumbo a:hover{
    color:#00219d;
    text-decoration: none;
}

.terms p{
    text-align:center;
    color:black;
    padding-top: 10px;
    font-size: 10px;
}


/* NAVBAR */


nav .button{
    border: 1px solid #3688ff;
    color: #3688ff;
}



.nav-bar{
    padding: 20px 0;
    background:#ffffff;
    /* font-size: 12px; */
}

.nav-bar .text-right i{
    font-size:30px;
    color: #4690ff;
}

/* HERO */




section.hero{
    background-image: url(./img/bg-banner-home.jpg);
    background-size: contain;
    /* background-repeat: no-repeat; */
    width: 100%;
    height:auto;
    padding:50px 0;
}

.form{
    height:auto;
    margin: 0 auto;
    padding:10px;
    background:#fff;
    border-radius: 5px;
}

.form [type="email"],
.form [type="password"]{
    height: 40px;
    /* width: 100%; */
}

.hero-form{
    width:100%;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid lightgray;
    color: #7d7d7d;
    font-weight: 500;
}

.img-box-google{
    max-width:20px;
    height:auto;
    vertical-align: middle;
    position:absolute;
    left:20px;
}

/* JUMBOTRONE */

.jumbo{
        background:#f3f5f9;
        padding:10px 0;
}

.jumbo-text{
    text-transform: uppercase;
    color: #6f7b97;
    text-align: center;
    font-size: 10px;
}


.logo-box{
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.logo-box img{
    /* display: inline-block; */
    width: calc( 100% / 2 - 5px);
    max-width: 300px;
    height: auto;
    padding: 5px;
}


main .main-top{
    text-align: center;
    padding: 10px;
    margin: 40px;
}

main .main-top p{
    color: #5c6a88;
}

/* SIDE */

.side-box {
    height: 50px;
    font-size: 15px;
    color:#848ea5;
    border-left: 1px solid #d2d2d2;
    padding-left: 10px;
}

.side-card{
    padding: 20px 0;
}










/* ------------------------------- */
/* MEDIA QUERY */

/* jumbotrone */

@media screen and (min-width:768px){
    .logo-box img{
        width: calc( 100% / 6 - 20px);
        
    }
}